body {
    background-color: #030301;
}

h5, p {
    font-family: 'Inconsolata', monospace;
}

/* removes underline from all website links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.jumbotron {
    background-image: url(./images/banner.png);
    background-size: cover;
    height: 100%;
}

.nav-link {
    color: red;
    font-family: 'Unica One', sans-serif;
}

.nav-link:hover {
    color: red;
}

.hvr, .hvr-nav {
    transition: all 0.3s;
}

.hvr:hover {
    transform: scale(1.02);
}

.hvr-nav:hover {
    transform: scale(1.3);
}