body {
    background-color: #030301;
}

h1, h2, h5, p {
    font-family: 'Inconsolata', monospace;
}

/* removes underline from all website links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.jumbotron {
    background-image: url(./images/banner-ttp.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    padding: 10rem;
}

.records {
    background-image: url(./images/records.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
}

.cds {
    background-image: url(./images/cds.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
}

.nav-link {
    color: red;
    font-family: 'Unica One', sans-serif;
}

.nav-link:hover {
    color: red;
}

.hvr, .hvr-nav {
    transition: all 0.3s;
}

.hvr:hover {
    transform: scale(1.02);
}

.hvr-nav:hover {
    transform: scale(1.3);
}

.card-home {
    color: red;
}

.mbl-nav-icon {
  position: absolute;
  top: 82%;
  left: 94%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    #desktop-nav {
        display: none;
    }

    .jumbotron {
        padding: 0rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #desktop-nav {
        display: none;
    }

    .jumbotron {
        padding: 0rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #mobile-nav {
        display: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 4000px) {
    #mobile-nav {
        display: none;
    }
}